.card-text, .card-title{
    color: var(--clrBgOpp) !important;

}
.text-muted{
    color: var(--clrBgAccentMute) !important;
}

.cardicle{
    border: 2px solid var(--clrBgAccentSoft) !important;
}

.cardicle:hover{
    border: 2px solid var(--clrBgAccent) !important;
}

.modal-header{
    width: 100%;
    font-family: var(--headFont);
    font-size: larger;
    text-align: center !important;
}

a{
    color: var(--clrBgAccentLoud)
}

.cardicle:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.textInput{
    background-color: transparent;
}

.textInput:hover, .textInput:focus{
    background-color: var(--clrBgAccentSoft);
    color: var(--clrBgOpp);
}
.searchButton:hover, .jumpButton:hover{
    background-color: var(--clrStrongFocus) !important;
    color: var(--clrBgAccentLoud) !important;
}


.modal-content{
    background-color: var(--clrBgAccentSoft);
}