:root {
    --clrBg: #000; /*White*/
    --clrBgOpp: #FFF; /*Black*/
    --clrBgAccent: #C4F3F3; /*Diamond*/
    --clrStrong: #F99C15; /*Maize*/
    --clrStrongFocus: #FFCE4C; /*Dark Tangerine*/
    --clrBgAccentMute: #6E6C80; /*Light Silver*/
    --clrBgAccentLoud: #D9D9D9; /*Old Lavender*/
    --mainFont: 'Heebo', sans-serif;
    --headFont: 'Patua One', cursive;
}

/* harder to download images*/
img {
    pointer-events: none;
}

/*default*/
body{
    background-color: var(--clrBg);
    color: var(--clrBgOpp);
}

body, span{
    color: var(--clrBgOpp);
	font-family: 'Roboto Mono', monospace;
	padding: 0;
	margin: 0;
}

/*remove focus outline*/
button, .btn, button:focus, .btn:focus, textarea:focus, audio:focus, .coolKey:focus, .navbar-toggler{
	outline: none !important; 
	border: 0px solid transparent;
	box-shadow: none !important;
}

/*remove hyperlink formatting*/
a, a:focus, a:hover{
    text-decoration: none;
    color: var(--clrBgOpp);
}


